.add-recipe-button {
    float: right;

    button {
        position: absolute;
        right: 1.5rem;
        top: 119px;
    }
}

.view-recipes {
    strong {
        text-transform: uppercase;
        font-size: 2rem;
        color: #cccccc;
        letter-spacing: 10px;
        display: flex;
        text-align: center;
    }

    select {
        border-radius: 0px;
        border-color: #cccccc;
        text-transform: capitalize;
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        option {
            background: #f4f4f4;
        }
    }
}